/* 

Theme: 		Deep (Dark Only)
Made by:  	CyBeerBoy
Made in: 	Germany
Web:      	https://cybeerboy.com
Version:  	0.1

Built with Sublime

*/
@import url("https://fonts.googleapis.com/css2?family=Play:wght@300;400;500;600;700&display=swap");
:root {
	--font: "Play", monospace;
	--editor-background: #363664;
	--ribbon-background: #21243c;
	--leaf-bacckground: #2D2D4E;
	--light-violet: #c8c7e3;
	--white: #FFFFFF;
	--black: #000000;
	--purple: #323357;
	--skyblue: #797BB2;
	--light-red: #ef476f;
	--lavender: #e6e6f4;
}

.theme-dark {
	--text-selection: #ef476f;
	--background-secondary: #21243c;
	--background-secondary-alt: #363664;
	--interactive-accent: #ef476f;
	--interactive-hover: #363664;
	--text-faint: #9A9AB1;
	--background-modifier-border: #9A9AB1;
	--text-highlight-bg: rgb(239, 71, 111, 0.8);
}

body {
	font-family: var(--font); 
}

a {
	color: var(--light-red);
}

a:hover {
	color: var(--light-violet);
}

/* Titlebar */
.titlebar {
	background-color: var(--purple);
	border-bottom: 1px solid var(--skyblue)
}
.titlebar .titlebar-text {
	color: var(--light-violet); 
}

.titlebar-button-container {
	top: -1px;
}

.titlebar .titlebar-button {
	color: var(--light-violet);
	opacity: 1; 
}

.titlebar .titlebar-button:hover {
	color: var(--skyblue); 
}

.titlebar-button.mod-close,
.titlebar-button.mod-close:hover {
	background-color:  var(--light-red);
	color: var(--white);
}

.titlebar-button.mod-close svg {
	stroke:  var(--white) !important;	
}

.titlebar-button.mod-close:hover svg {
	stroke:  var(--black) !important;	
}

/* Ribbon */
.workspace-ribbon,
.workspace-ribbon.mod-left.is-collapsed,
.workspace-ribbon.mod-right.is-collapsed {
	background-color:  var(--ribbon-background);
	
}

.side-dock-ribbon-tab, .side-dock-ribbon-action {
	color: var(--white);
}

.side-dock-ribbon-tab, .side-dock-ribbon-action:hover {
	color: var(--skyblue);
}

.workspace-ribbon-collapse-btn {
	color: var(--white);
}

.workspace-ribbon-collapse-btn:hover {
	color: var(--skyblue);
}

.workspace-split.mod-root > .workspace-leaf:first-of-type:last-of-type .view-header {
	border-bottom: none;
	background-color: var(--editor-background);
}

.workspace-split.mod-root > .workspace-leaf:first-of-type:last-of-type.mod-active .view-header-title-container:after {
	background: none;
}

.workspace-tab-header-container,
.workspace-tab-container-before.is-before-active,
.workspace-tab-container-after.is-after-active,
.workspace-tab-header.is-before-active,
.workspace-tab-header.is-after-active,
.workspace-tab-container-before.is-before-active .workspace-tab-header-inner,
.workspace-tab-container-after.is-after-active .workspace-tab-header-inner,
.workspace-tab-header.is-before-active .workspace-tab-header-inner,
.workspace-tab-header.is-after-active .workspace-tab-header-inner {
	background-color: var(--editor-background);
}


/* Workspace */
.workspace-tabs {
	background-color: var(--editor-background);
	padding-right: 0px;
}

.workspace-tab-header.is-active {
	background-color: var(--leaf-bacckground);
}

.workspace-split.mod-root .view-content {
	background-color: var(--editor-background);
	background-image:linear-gradient(180deg, #4A4A73 0%, #363664 50%)
}

.workspace-tabs .workspace-leaf {
	background-color: var(--leaf-bacckground);
	color: var(--white);
}

.workspace-tab-header {
	color: var(--white);
}
.workspace-tab-header.is-active {
	color: var(--light-red);
}

.workspace-split.mod-vertical > * > .workspace-leaf-resize-handle,
.workspace-split.mod-left-split > .workspace-leaf-resize-handle,
.workspace-split.mod-right-split > .workspace-leaf-resize-handle {
	width: 1px;
}

.workspace-split.mod-horizontal > * > .workspace-leaf-resize-handle {
	height: 1px;
}

.workspace-split.mod-root > .workspace-leaf:last-of-type .workspace-leaf-content {
	border-radius: 0;
}

.workspace-leaf-resize-handle {
	background-color: var(--skyblue);
}

.view-header {
	height: 30px;
}

.markdown-preview-view code {
	color: var(--light-red);
}

.CodeMirror-gutter.CodeMirror-linenumbers,
.CodeMirror-gutter.CodeMirror-foldgutter {
	background-color: transparent;
}

.cm-s-obsidian .CodeMirror-linenumber {
	color: var(--light-red);
}

.CodeMirror-guttermarker-subtle {
	color: var(--white);
}

 .CodeMirror-activeline-background {
  background-color: var(--purple);
  border-radius: 5px;
 }

/* Statusbar */
.status-bar {
 background-color:  var(--purple);
 color: var(--light-violet);
 border-top: 1px solid var(--skyblue);
}

/* Markdown-Preview */
.markdown-preview-view blockquote {
	background-color: var(--lavender);
	color: var(--purple);
	border: 2px solid var(--skyblue);
	border-left: 5px solid var(--skyblue);
}

.markdown-preview-view hr {
	border-color:  var(--light-red);
}

/*.markdown-preview-view h1 {
   text-shadow:
      0 0 1px #fff,
      0 0 3px #fff,
      0 0 10px var(--light-red),
      0 0 3px var(--light-red),
      0 0 4px var(--light-red),
      0 0 5px var(--light-red),
      0 0 6px var(--light-red),
      0 0 10px var(--light-red);
}*/

/* Navigation */
.nav-file-title.is-active,
.nav-folder-title.is-active,
body:not(.is-grabbing) .nav-file-title:hover,
body:not(.is-grabbing) .nav-folder-title:hover {
	background-color: var(--light-red);
}

.collapse-icon {
	color: var(--light-red);
}

.tree-item-flair {
	background-color:  var(--light-red);
	color: var(--white);
}

.tree-item-self.is-clickable:hover {
	background-color:  var(--lavender);
	color: var(--interactive-accent);
}

.prompt {
	background-color: var(--editor-background);
}

.suggestion-item.is-selected {
	background-color: var(--light-red);
	border-radius: 5px;
}

/* Graph */
.workspace-leaf-content[data-type = "graph"] .view-content{
  background-color: var(--leaf-bacckground);
}

.graph-view.color-fill {
  color: var(--lavender);
}

.graph-view.color-circle {
  color: var(--purple);
}

.graph-view.color-line {
  color: var(--light-red);
}

.graph-view.color-text {
  color: var(--lavender);
}

.graph-view.color-fill-highlight {
  color: var(--light-red);
}

.graph-view.color-line-highlight {
  color: rgb(var(--light-red));
}


/* Print: PDF */
@media print {
   * {
      color: #000 !important;
      background: #fff !important;
   }

   h1 {
   	color: var(--light-red) !important;
   }
}